.patient-box {
  background-color: rgba(31, 40, 44, 0.5);
  margin: 5px 0px 5px 0px;
  border-radius: 5px;
  padding: 2px 2px 2px 7px;
}

.ReactModalPortal {
  height: 100vh;
  background-color: #0E1316;
}